.center {
  margin:auto;
  width: 60%;
  text-align: justify;
}

p {
  font-family: "Inter";
  font-size: 20px;
  line-height: 1.5;
}

.model {
  margin-top: 100px;
}

ul{
  text-align: left;
  list-style-type: square;
  font-size: 20px;
  font-family: "PT Mono";
}

h1 {
  font-size: 40px;
}

h3{
  font-size: 30px;
  text-align: left;
}

body::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: white;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: lightgray;    /* color of the scroll thumb */
  border-radius: 24px;       /* roundness of the scroll thumb */
}
